# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
GoogleService-Info.plist
google-services.json
keystore.jks
.env.development
eyezone-723ab-firebase-adminsdk-fbsvc-a889953ac4.json
# dependencies
node_modules/
package-lock.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.env